<%- include ../Partials/header.ejs %>
    <link rel="stylesheet" href="stylesheets/sale.css">

    <div class="container" id="sale-page">
        <h3>Order List</h3>
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => {%>
                    <tr>
                        <td class="text-left">
                            <span>
                              <img src="<%= item.img%>" alt="" class="img-fluid">
                             </span>
                            <b><%= item.name %></b>
                        </td>
                        <td>
                            <%= item.qty%>
                        </td>
                        <td>
                            <%= item.salePrice%>
                        </td>
                        <td>
                            <%= (item.salePrice * item.qty) %>
                        </td>
                    </tr>
                    <%})%>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>--------</td>
                            <td>
                                <%= data.reduce((total, item) => total+= (item.salePrice * item.qty), 0) %>
                            </td>
                        </tr>
            </tbody>
        </table>

        <form action="">
            <h3>Client Details</h3>
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="fomr-control">
            </div>
        </form>

        <div class="text-right">
            <button class="btn btn-primary btn-lg" onclick="sale()">Checkout</button>
        </div>
    </div>


    <script src="/javascripts/checkout.js"></script>
    <%- include ../Partials/footer.ejs %>