<%- include ../Partials/header.ejs %>
    <link rel="stylesheet" href="stylesheets/products.css">
    <div>
        <div class="row mt-5 mx-auto">

            <% data.forEach(item => {%>
                <div class="col-xl-3 col-lg-4 mb-3 col-md-4 col-sm-6">
                    <div class="card" style="max-width: 360px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="<%= item.img %>" class="card-img" alt="<%= item.name %>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a class="text-muted" href="#">
                                        <%= item.category %>
                                    </a>
                                    <h5 class="card-title mt-3">
                                        <a href="#">
                                            <%= item.name %>
                                        </a>
                                    </h5>
                                    <div class="card-box">
                                        <h5>
                                            <%= item.price%>
                                                <small class="ml-2">
                                              <del><%= item.salePrice%></del>
                                            </small>
                                        </h5>
                                        <button onclick="getProduct(<%=item.id%>)" data-toggle="modal" data-target="#exampleModal" class="btn btn-secondary rounded-circle">
                                          <i class="fa fa-shopping-cart"></i> 
                                        </button>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% })%>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="img-wrapper" id="p-banner"></div>
                    <div class="modal-header">

                        <h5 class="modal-title" id="p-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <p id="p-description"></p>
                    </div>
                    <div class="modal-footer">
                        <span>
                        $ <strong id="p-price"></strong>
                      </span>
                        <span>
                          <input type="number" value="1" size="6" id="p-qty">
                        </span>
                        <button type="button" id="add-to-cart-btn" class="btn btn-primary" onclick="addToCart()">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getProduct(id) {
            fetch('/products/' + id)
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    document.getElementById('p-title').innerHTML = data.name;
                    document.getElementById('p-description').innerHTML = data.description;
                    document.getElementById('p-price').innerHTML = data.salePrice;
                    document.getElementById('p-banner').style.cssText = `background: url(${data.img}) no-repeat center; background-size: cover;`;
                    document.getElementById('add-to-cart-btn').setAttribute('data-id', `${data.id}`);
                })
        }

        function addToCart() {
            const productId = document.getElementById('add-to-cart-btn').getAttribute('data-id');
            const qty = document.getElementById('p-qty').value;
            // const color = document.getElementById('p-color').value || 'red';
            // const size = document.getElementById('p-select').value || 'small';
            console.log(productId, qty, JSON.stringify({
                productId: productId,
                qty: qty
            }));

            fetch('/sales/new', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        productId: productId,
                        qty: qty
                    })
                })
                .then(res => res.json())
                .then(data => {
                    console.log(data)
                })
                .catch(err => console.log(err))
        }
    </script>

    <%- include ../Partials/footer.ejs %>